## {{name}} Service {{version}}

{{description}}


### Seneca Pattern to REST API mapping

```
{{#operations}}
{{pattern}} - {{method}} {{{path}}}
{{/operations}}
```

## License
Copyright (c) {{year}} {{author}}

Licensed under __[{{licence}}][Licence]__.

[Licence]: ./LICENSE